.reply-user-comment-box {
    background-color: var(--neutral-white);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "userInfo userInfo userInfo userInfo"
        "userComment userComment userComment userComment"
        "score score reply reply";
}

.reply-user-comment-user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-area: userInfo;
}

.reply-user-comment-profile-photo {
    width: 2rem;
}

.reply-user-comment-user-name {
    color: var(--neutral-dark-blue);
    font-weight: var(--font-weight-700);
}

.reply-user-comment-current-user {
    background-color: var(--primary-moderate-blue);
    color: var(--neutral-white);
    padding: 0.2rem 0.3rem;
}

.reply-user-comment-created-at {
    color: var(--neutral-grayish-blue);
}

.reply-user-comment-input-wrapper {
    grid-area: userComment;
}

.reply-user-comment-input-box {
    margin-bottom: 0.5rem;
    position: relative;
}

.reply-user-comment-text-area-label {
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    cursor: text;
}

.reply-user-comment-input {
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-family-rubik);
    border: 1px solid var(--neutral-light-gray);
    resize: none;
}

.reply-user-comment-input::-webkit-scrollbar {
    width: 0;
}

.reply-user-comment-input:focus {
    outline: 1px solid var(--primary-moderate-blue);
    border: none;
}


.reply-user-comment-btn-box {
    display: flex;
    justify-content: flex-end;
}

.reply-user-comment-btn {
    border: none;
    outline: none;
    padding: 0.8rem 1.8rem;
    font-family: var(--font-family-rubik);
    color: var(--neutral-white);
    font-size: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--primary-moderate-blue);
    cursor: pointer;
}

.reply-user-comment-btn:hover {
    background-color: var(--primary-light-grayish-blue);
}

.reply-user-comment-user-comment {
    color: var(--neutral-grayish-blue);
    grid-area: userComment;
    line-height: 1.350;
}

.reply-user-comment-score-wrapper {
    grid-area: score;
}

.reply-user-comment-score-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-very-light-gray);
    width: 6rem;
    border-radius: 10px;
}

.reply-user-comment-plus-box,
.reply-user-comment-minus-box {
    padding: 0.8rem 0.8rem;
    display: flex;
    cursor: pointer;
}

.reply-user-comment-plus-box:hover svg path,
.reply-user-comment-minus-box:hover svg path {
    fill: var(--primary-moderate-blue);
}

.reply-user-comment-score {
    color: var(--primary-moderate-blue);
    font-weight: var(--font-weight-500);
}

.reply-user-comment-delete-edit-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: reply;
    gap: 1rem;
}

.reply-user-comment-delete-box,
.reply-user-comment-edit-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: var(--font-weight-500);
    padding: 0.5rem 0;
    font-size: 1.1rem;
}

.reply-user-comment-delete-box:hover svg path {
    fill: var(--primary-pale-red);
}

.reply-user-comment-delete-box:hover .reply-user-comment-delete-text {
    color: var(--primary-pale-red);
}

.reply-user-comment-edit-box:hover svg path {
    fill: var(--primary-light-grayish-blue);
}

.reply-user-comment-edit-box:hover .reply-user-comment-edit-text {
    color: var(--primary-light-grayish-blue);
}


.reply-user-comment-delete-text {
    color: var(--primary-soft-red);
}

.reply-user-comment-edit-text {
    color: var(--primary-moderate-blue);

}

.reply-user-comment-reply-wrapper {
    display: flex;
    justify-content: flex-end;
    grid-area: reply;
}

.reply-user-comment-reply-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 1.1rem;
}

.reply-user-comment-reply-box:hover svg path {
    fill: var(--primary-light-grayish-blue);
}

.reply-user-comment-reply-box:hover .reply-user-comment-reply-text {
    color: var(--primary-light-grayish-blue);
}

.reply-user-comment-reply-text {
    color: var(--primary-moderate-blue);
    font-weight: var(--font-weight-500);
    text-transform: capitalize;
}


.reply-user-comment-mentioned {
    color: var(--primary-moderate-blue);
    font-weight: var(--font-weight-700);
}

@media (min-width: 786px) {
    .reply-user-comment-box {
        padding: 1.5rem;
        grid-template-columns: 2.5rem 1fr 5rem;
        grid-template-areas:
            "score userInfo userInfo reply"
            "score userComment userComment userComment"
    }

    .reply-user-comment-profile-photo {
        width: 2.5rem;
    }

    .reply-user-comment-user-comment {
        padding-right: 1rem;
    }

    .reply-user-comment-score-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--neutral-very-light-gray);
        border-radius: 10px;
        width: 2.5rem;
    }

    .reply-user-comment-plus-box,
    .reply-user-comment-minus-box {
        padding: 1rem 0.8rem;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
}

@media (max-width: 360px) {
    .reply-user-comment-user-info {
        gap: 0.5rem;
    }
    .reply-user-comment-created-at {
        font-size: 0.9rem;
    }
    .reply-user-comment-score-box {
        width: 5rem;
    }
    .reply-user-comment-delete-box,
    .reply-user-comment-edit-box {
        font-size: 1rem;
    }
    .reply-user-comment-reply-box {
        font-size: 1rem;
    }
}